@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap');

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* End of CSS Reset */


:root {
  --blue-1: #000022;
  --blue-2: #112255;
  --blue-3: #224477;
  --blue-4: #4466aa;
  --blue-5: #6699cc;

  --blue-gray-1: #f9f9fb;
  --blue-gray-2: #ededef;
}


body {
  height: 100vh;
  font-family: 'Figtree', sans-serif;
  display: flex;
}

html {
  font-size: 62.5%;
}

.page-left {
  width: 100%;
  background: url(https://images.unsplash.com/photo-1653299832314-5d3dc1e5a83c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1227&q=80) no-repeat center;
  background-size: cover;
  height: 100%;
  background-origin: border-box;
  background-clip: content-box;
  max-width: 690px;
}


.page-right {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.image-banner {
  position: relative;
  top: 20vh;
  background-color: rgb(16, 32, 82, 0.475);
  /* converted --blue-2 to rgba for opacity */
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  backdrop-filter: blur(4px);
}

.image-banner-text {
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

.logo {
  width: 14rem;
  filter: brightness(0) saturate(100%) invert(98%) sepia(99%) saturate(10%) hue-rotate(221deg) brightness(104%) contrast(100%);
  margin-right: 2rem;
  margin-top: 2rem;
}

.hook {
  font-size: 2.5rem;
  font-weight: bold;
}

.section-hook {
  background-color: var(--blue-gray);
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.hook {
  margin-left: 4rem;
}

.line-one {
  margin-bottom: 3rem;
  line-height: 150%;
}

.line-two {
  margin-bottom: 6rem;
}


.section-account {
  background-color: var(--blue-gray);
  flex-grow: 2;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  justify-self: center;
  flex-grow: 1;
  padding: 2rem 4rem 0 3rem;
  filter: drop-shadow(0 0 16px var(--blue-3));
}

legend {
  font-size: 2.5rem;
  font-weight: bold;
  width: 100%;
  height: fit-content;
  margin-bottom: 2rem;
}

input {
  font-family: inherit;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  background: none;
  border: 2px solid var(--blue-gray-2);
  border-radius: 6px;

}


label {
  font-size: 1.5rem;
  display: block;
  letter-spacing: 1px;
}

.form-row {
  flex-grow: 1;
  display: flex;
  gap: 8rem;
}

.section-account {
  padding: 6rem 0 0 3rem;
}

input:focus:not(input[type=submit]) {
  outline: none;
  border: 2px solid var(--blue-4);
  box-shadow: 2px 2px 2px var(--blue-3);
}

input[type=submit] {
  width: 30rem;
  padding: 1rem 2rem;
  background-color: var(--blue-4);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.15s;
}


input[type=submit]:hover {
  background-color: var(--blue-3);
  cursor: pointer;
}

input[type=submit]:active {
  background-color: var(--blue-2);
  transform: scale(0.95);
}

.account-exists {
  font-size: 2rem;
  margin-top: 3rem;
}

.error {
  border: 2px solid #cc0000;
}

.valid {
  border: 2px solid #50C878;
}

a {
  text-decoration: none;
  color: var(--blue-3);
  font-weight: bold;
}

input:not(input[type=submit]) {
  padding: 0 0 0 0.5rem;
}

.error-message {
  font-size: 1.4rem;
  color: #cc0000;
  opacity: 0%;
}

.show-error {
  opacity: 100%;
}